/* this is how to add single line comments in css */
/* the following styles are fit for mobile screens */

.main-header{
    text-align: center;
    border-bottom: 5px double #800000;
}
.second-header{ 
    text-align: center;
    
}
.main-footer{
    text-align: center;
    border-top: double 5px #800000;
}
.container{
    width: 90%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style:none;
    margin-right:40px;
}
body{
    background-color: #B6B6B6;
}

/*these css styles help the nav bar lose the anchor tag styles while letting the extra
links keep the style*/
a{
    text-decoration: none;
    color: inherit;
}
.extra-link{
    color: blue;
    text-decoration: underline;
}

.link-button{
        background-color: #800000;
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 2px 2px;
        cursor: pointer;
        flex-basis: 20%; 
}
/*the following css is for the image slideshow on the baked goods page*/

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    display: none;
}
#slideshow div:nth-child(1){
    display:contents;
}